.introduction-wrapper {
    height:auto;
   

    .introduction {
        @import 'BigLogo';
        .introduction-description{
            text-align: center;
            margin-top:3rem;
            p {
                line-height: 1rem;
                color: $oc-gray-9;
                font-weight: 700;
            
            }
        }

    }
}