.rsvp-month, .rsvp-dateAndDay-wrapper, .rsvp-content{
    // border: 1px solid red;
    padding: 15px;
}
.rsvp-wrapper {
    
    .rsvp-month{
        
        width: 16.66%;
        float: left;
        font-size:2.5rem;
        color:$oc-gray-7;
        text-align: right;
        font-weight: 500;
    }
    .rsvp-dateAndDay-wrapper{
        width: 16.66%;
        float: left;
        text-align: center;
.rsvp-date {
        
        
        color:$oc-gray-9;
        font-size:3.5rem;
        font-weight: 500;
        
    }
    .rsvp-day {
        

        padding-top: 10px;
    
        font-size: 0.9rem;
    }
    }
    .rsvp-content{
        width: 66.66%;
        float: left;
    }
}
 @include media("<desktop"){
     .rsvp-wrapper{
         
         .rsvp-month{
              width: 16.66%;
        float: left;
        font-size:23px;
    }
    .rsvp-dateAndDay-wrapper{
 width: 16.66%;
        float: left;
        .rsvp-date {
        font-size:27px;
       
    }
     .rsvp-day {
         padding-top:0;
        font-size: 10px;
        
     }
    }
    .rsvp-content{
         width: 66.66%;
        float: left;
    }
     }
      
        
    }

