.rsvptime-wrapper {
    width:30%;
    float:left;
    .rsvp-month{
        float:left;
        font-size: 2rem;
        color: $oc-gray-8;
        border:soild 1px;
        margin-right:5.5rem;
    }
    .rsvp-month-day{
        
    }
}