.rsvplayout-wrapper{
    // background: linear-gradient(to bottom, rgba(150,33,33,0.6) 0%,rgba(255,255,255,0.6) 100%) repeat 0 0;
    background: $oc-gray-6;
    width:100%;
    .rsvplayout{
    padding-bottom: 1.5rem;
    padding-top: 4rem;
     padding-left: 1.5rem;
     padding-right: 1.5rem;
     margin-left: 5%;
     margin-right: 5%;
     width:90%;

        @import 'RsvpForm';
        @import 'RsvpOne';
        @import 'Rsvp';
       
        .rsvp + .rsvp {
            padding-top: 2.5rem;
        }
        .rsvp-header{
            
            margin-left:30%;
            margin-right:30%;
            width:40%;
            font-size:4rem;
            font-weight: 700;
            color:white;
            letter-spacing: 3px;
            
            padding-top:50px;
            padding-bottom:80px;
        }
    }

@include media("<tablet"){
     .rsvplayout{
   
     width:100%;
  }
}
}