.rsvplayout-wrapper{
    background: $oc-red-3;
    width:100%;
    .rsvplayout{
    padding-bottom: 1.5rem;
    padding-top: 4rem;
     padding-left: 1.5rem;
     padding-right: 1.5rem;
     width:90%;

        @import 'RsvpForm';
        @import 'RsvpOne';
        @import 'Rsvp';
       
        .rsvp + .rsvp {
            padding-top: 2.5rem;
        }
    }

@include media("<tablet"){
     .rsvplayout{
   
     width:100%;
  }
}
}