.rsvp-wrapper {
    .rsvp-month{
        font-size:3rem;
        text-align: right;
    }
    .rsvp-date {
        font-size:2.8rem;
        text-align: center;
    }
    .rsvp-day {
        text-align: center;
        font-size: 0.7rem;
    }
}

