.navber{
    a{
        line-height: 1.7rem;
    font-size: 1.5rem;
    margin-left:5rem; 
    color: white;
    
    }
    display: inline-block;
}

@include media(">phone","<desktop"){
    .navber{
    a{
        line-height: 1.7rem;
    font-size: 15px;
    margin-left:30px; 
    color: white;
    
    }
    display: inline-block;
}
}

@include media("<=phone"){
       .navber{
    a{
        line-height: 1.7rem;
    font-size: 13px;
    margin-left:15px; 
    color: white;
    
    }
    display: inline-block;
}
 }