.sidebar-button {
    float: left;
    font-size: 1.6rem;
    line-height: 4rem;
    color: $oc-gray-7;
    margin-right:1rem;
    // 커서가 버튼에 가면 손꾸락으로 변하는 속성
    cursor: pointer;
    // 버튼에 마우스를 올리면 호버속성으로 변하는 트렌지션 설정, 반대도 같이 설정.
    transition: all .4s;
    
     &:hover {
        color: $oc-gray-9;
        // 아이콘이 커진다!
        font-size: 2rem;
    }
     @include media(">=desktop"){
      display: none;
  }
}