.introduction-wrapper {
    .introduction {
        height: 100vh;
        width: 100%;
        text-align: center;
        position: relative;
    }
    .height-space {
        height: 80vh;
    }
    .buttons-wrapper {
        height: 20vh;
        letter-spacing: 3px;
        display: flex;
        flex-wrap: wrap;
        font-size: 1.2rem;
        background-color: rgba(0,0,0,0.3);
    }
    .leftButton {
        border:1px solid $oc-red-2;
        padding-top: 3rem;
        padding-bottom: 3rem;
        transition: all 0.1s;
        color: #efeaea;
        width: 33.33vw;
        font-family: 'Montserrat', sans-serif;
        &:hover {
            background-color: $oc-red-3;
        }
    }
    .centerButton {
        border-top:1px solid $oc-red-2;
        border-bottom:1px solid $oc-red-2;
        padding-top: 3rem;
        padding-bottom: 3rem;
        transition: all 0.1s;
        color: #efeaea;
        width: 33.33vw;
        font-family: 'Montserrat', sans-serif;
        &:hover {
            background-color: rgb(49, 165, 23);
        }
    }
    .rightButton {
        border:1px solid $oc-red-2;
        padding-top: 3rem;
        padding-bottom: 3rem;
        transition: all 0.1s;
        color: white;
        width: 33.33vw;
        font-family: 'Montserrat', sans-serif;
        &:hover {
            background-color: $oc-blue-3;
        }
    }
      @include media("<desktop") {
          h2{
              font-size:16px;
          }
          .buttons-wrapper{
              font-size:14px;
          }
  .xmHide{
      display:none;
  }
  
}
}